In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#defining path
path = r'/Users/davidmsimpson/20230907 Instacart Basket Analysis'

In [3]:
# Import df_ords_prods_merged
df_ords_prods_mergedP = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [4]:
df_ords_prods_mergedP.shape

(32434212, 19)

In [5]:
df_ords_prods_mergedP.describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.035613e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07
mean,1.709860e+06,1.709860e+06,1.709860e+06,1.710748e+06,1.029374e+05,1.714192e+01,2.738810e+00,1.342500e+01,1.110416e+01,2.557778e+04,8.351176e+00,5.896888e-01,2.557948e+04,7.121649e+01,9.922231e+00,1.198114e+01
std,9.864638e+05,9.864638e+05,9.864638e+05,9.872996e+05,5.946649e+04,1.753489e+01,2.090047e+00,4.246351e+00,8.778943e+00,1.409614e+04,7.126688e+00,4.918902e-01,1.409769e+04,3.820429e+01,6.281190e+00,4.954311e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.556130e+05,8.556130e+05,8.556130e+05,8.559450e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353500e+04,3.000000e+00,0.000000e+00,1.353500e+04,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.709152e+06,1.709152e+06,1.709152e+06,1.711049e+06,1.026125e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00,2.525700e+04,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565947e+06,2.565947e+06,2.565947e+06,2.565510e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00,3.793900e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421081e+06,3.421081e+06,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04

In [6]:
# Import df_ords_prods_merged
df_ords_prods_merged = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.csv'), index_col = 0)

In [7]:
df_ords_prods_merged.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.160716e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07
mean,1.710782e+06,1.029045e+05,1.747529e+01,2.716545e+00,1.341040e+01,1.101424e+01,6.259618e-02,2.590875e+04,8.195498e+00,6.210956e-01,2.591048e+04,7.132964e+01,9.340163e+00,1.074108e+01
std,9.873360e+05,5.948380e+04,1.773738e+01,2.096289e+00,4.246393e+00,8.722806e+00,2.422352e-01,1.398866e+04,6.964016e+00,4.851143e-01,1.399021e+04,3.809199e+01,6.185241e+00,2.064543e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.558338e+05,5.133100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,0.000000e+00,1.391400e+04,3.000000e+00,0.000000e+00,1.391400e+04,2.400000e+01,4.000000e+00,4.400000e+00
50%,1.711149e+06,1.025360e+05,1.100000e+01,2.000000e+00,1.300000e+01,8.000000e+00,0.000000e+00,2.558400e+04,6.000000e+00,1.000000e+00,2.558500e+04,8.300000e+01,7.000000e+00,7.500000e+00
75%,2.565583e+06,1.543630e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,0.000000e+00,3.829300e+04,1.100000e+01,1.000000e+00,3.829700e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00,4.968300e+04,1.430000e+02,1.000000e+00,4.968700e+04,1.340000e+02,2.100000e+01,1.490000e+04

In [8]:
df_ords_prods_merged.shape

(23050000, 20)

In [9]:
df_ords_prods_merged.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,busiest days,busiest period,busiest_period_of_day
0,2539329,1,1,2,8,NaN,1,196,1,0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest period,Most orders
1,2398795,1,2,3,7,15.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy days,Least busy period,Fewest orders
2,473747,1,3,3,12,21.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy days,Busiest period,Most orders
3,2254736,1,4,4,7,29.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy days,Least busy period,Fewest orders
4,431534,1,5,4,15,28.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy days,Busiest period,Most orders
5,3367565,1,6,2,7,19.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy period,Fewest orders
6,550135,1,7,1,9,20.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Busiest period,Most orders
7,3108588,1,8,1,14,14.0,0,196,2,1,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Busiest period,Most orders
8,2295261,1,9,1,16,0.0,0,196,4,1,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Regularly busy period,Average orders
9,2550362,1,10,4,8,30.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy days,Busiest period,Most orders
10,2968173,15,15,1,9,7.0,0,196,2,0,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Busiest period,Most orders
11,1870022,15,17,2,16,8.0,0,196,6,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy period,Average orders
12,1911383,15,18,2,11,7.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest period,Most orders
13,2715276,15,21,1,9,7.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Busiest period,Most orders
14,487368,15,22,1,10,14.0,0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Busiest days,Busiest period,Most orders

In [10]:
df_ords_prods_merged.tail(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,busiest days,busiest period,busiest_period_of_day
23049985,527384,74472,2,5,15,0.0,0,39276,3,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049986,2134779,74472,3,5,16,7.0,0,39276,4,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Regularly busy period,Average orders
23049987,1141788,74498,2,6,10,13.0,0,39276,3,0,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049988,2995009,74498,3,0,10,8.0,0,39276,1,1,both,39280,Bananas,24,4,4.5,Low-range product,Busiest days,Busiest period,Most orders
23049989,1566007,74498,4,6,9,6.0,0,39276,1,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049990,1261155,74498,6,6,10,30.0,0,39276,6,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049991,2738471,74498,7,1,13,30.0,0,39276,7,1,both,39280,Bananas,24,4,4.5,Low-range product,Busiest days,Busiest period,Most orders
23049992,675573,74498,10,5,16,20.0,0,39276,2,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Regularly busy period,Average orders
23049993,803913,74565,16,2,10,14.0,0,39276,8,0,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049994,1346670,74565,20,6,14,1.0,0,39276,6,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049995,3336004,74565,22,6,12,4.0,0,39276,3,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049996,3269683,74565,24,2,11,13.0,0,39276,2,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049997,2531903,74565,26,5,15,8.0,0,39276,5,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders
23049998,1657372,74565,28,1,16,2.0,0,39276,2,1,both,39280,Bananas,24,4,4.5,Low-range product,Busiest days,Regularly busy period,Average orders
23049999,3310869,74565,30,2,11,5.0,0,39276,6,1,both,39280,Bananas,24,4,4.5,Low-range product,Regularly busy,Busiest period,Most orders

In [16]:
df_ords_prods_mergedP.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0
1,1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,both,195,Soda,77,7,9.0
2,2,2,2,473747,1,3,3,12,21.0,False,196,1,1,both,195,Soda,77,7,9.0
3,3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,both,195,Soda,77,7,9.0
4,4,4,4,431534,1,5,4,15,28.0,False,196,1,1,both,195,Soda,77,7,9.0

In [18]:
df_ords_prods_mergedP.drop(columns = ['Unnamed: 0.2'])

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,3,3,12,21.0,False,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,5,4,15,28.0,False,196,1,1,both,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3360493,3360493,1320836,202557,17,2,15,1.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434208,3360494,3360494,31526,202557,18,5,11,3.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434209,3376038,3376038,758936,203436,1,2,7,NaN,True,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434210,3376039,3376039,2745165,203436,2,3,5,15.0,False,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434211,3408036,3408036,3093936,205420,1,4,14,NaN,True,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [21]:
df_ords_prods_mergedP.drop(columns = ['Unnamed: 0.1','Unnamed: 0.2', 'Unnamed: 0_x', 'Unnamed: 0_y'])

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,False,43553,2,1,both,Orange Energy Shots,64,7,3.7
32434208,31526,202557,18,5,11,3.0,False,43553,2,1,both,Orange Energy Shots,64,7,3.7
32434209,758936,203436,1,2,7,NaN,True,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9
32434210,2745165,203436,2,3,5,15.0,False,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9
32434211,3093936,205420,1,4,14,NaN,True,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [12]:
df_ords_prods_mergedP.tail(15)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
32434197,3360480,3360480,3360480,1928449,202557,4,4,9,16.0,False,43553,4,1,both,43557,Orange Energy Shots,64,7,3.7
32434198,3360482,3360482,3360482,2222639,202557,6,5,9,4.0,False,43553,3,1,both,43557,Orange Energy Shots,64,7,3.7
32434199,3360484,3360484,3360484,339942,202557,8,4,10,4.0,False,43553,3,1,both,43557,Orange Energy Shots,64,7,3.7
32434200,3360485,3360485,3360485,2798193,202557,9,4,13,7.0,False,43553,5,1,both,43557,Orange Energy Shots,64,7,3.7
32434201,3360487,3360487,3360487,2391791,202557,11,6,6,8.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434202,3360488,3360488,3360488,576295,202557,12,3,10,11.0,False,43553,14,1,both,43557,Orange Energy Shots,64,7,3.7
32434203,3360489,3360489,3360489,960088,202557,13,4,12,15.0,False,43553,3,1,both,43557,Orange Energy Shots,64,7,3.7
32434204,3360490,3360490,3360490,343962,202557,14,0,10,3.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434205,3360491,3360491,3360491,2329472,202557,15,6,12,6.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434206,3360492,3360492,3360492,694731,202557,16,1,14,2.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434207,3360493,3360493,3360493,1320836,202557,17,2,15,1.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434208,3360494,3360494,3360494,31526,202557,18,5,11,3.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32434209,3376038,3376038,3376038,758936,203436,1,2,7,NaN,True,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434210,3376039,3376039,3376039,2745165,203436,2,3,5,15.0,False,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32434211,3408036,3408036,3408036,3093936,205420,1,4,14,NaN,True,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [13]:
# Import df_ords_prods_merged2
df_ords_prods_merged2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged2.csv'), index_col = 0)

In [14]:
df_ords_prods_merged2.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices,max_order,Avg_price_paid,Avg_days_since_order
count,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.160716e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.305000e+07,2.304945e+07
mean,1.710782e+06,1.029045e+05,1.747529e+01,2.716545e+00,1.341040e+01,1.101424e+01,6.259618e-02,2.590875e+04,8.195498e+00,6.210956e-01,2.591048e+04,7.132964e+01,9.340163e+00,1.074108e+01,3.368184e+01,1.074108e+01,1.128054e+01
std,9.873360e+05,5.948380e+04,1.773738e+01,2.096289e+00,4.246393e+00,8.722806e+00,2.422352e-01,1.398866e+04,6.964016e+00,4.851143e-01,1.399021e+04,3.809199e+01,6.185241e+00,2.064543e+02,2.533736e+01,4.201585e+01,6.026622e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.558338e+05,5.133100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,0.000000e+00,1.391400e+04,3.000000e+00,0.000000e+00,1.391400e+04,2.400000e+01,4.000000e+00,4.400000e+00,1.300000e+01,7.421118e+00,6.815451e+00
50%,1.711149e+06,1.025360e+05,1.100000e+01,2.000000e+00,1.300000e+01,8.000000e+00,0.000000e+00,2.558400e+04,6.000000e+00,1.000000e+00,2.558500e+04,8.300000e+01,7.000000e+00,7.500000e+00,2.700000e+01,7.909810e+00,9.774947e+00
75%,2.565583e+06,1.543630e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,0.000000e+00,3.829300e+04,1.100000e+01,1.000000e+00,3.829700e+04,1.070000e+02,1.600000e+01,1.130000e+01,4.800000e+01,8.388679e+00,1.471605e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00,4.968300e+04,1.430000e+02,1.000000e+00,4.968700e+04,1.340000e+02,2.100000e+01,1.490000e+04,9.900000e+01,1.490000e+04,3.000000e+01

In [15]:
df_ords_prods_merged2.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest days,busiest period,busiest_period_of_day,max_order,loyalty_flag,Avg_price_paid,Spending_flag,Avg_days_since_order,Frequency_flag
0,2539329,1,1,2,8,NaN,1,196,1,0,...,Mid-range product,Regularly busy,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2398795,1,2,3,7,15.0,0,196,1,1,...,Mid-range product,Least busy days,Least busy period,Fewest orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
2,473747,1,3,3,12,21.0,0,196,1,1,...,Mid-range product,Least busy days,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2254736,1,4,4,7,29.0,0,196,1,1,...,Mid-range product,Least busy days,Least busy period,Fewest orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
4,431534,1,5,4,15,28.0,0,196,1,1,...,Mid-range product,Least busy days,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
5,3367565,1,6,2,7,19.0,0,196,1,1,...,Mid-range product,Regularly busy,Least busy period,Fewest orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
6,550135,1,7,1,9,20.0,0,196,1,1,...,Mid-range product,Busiest days,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
7,3108588,1,8,1,14,14.0,0,196,2,1,...,Mid-range product,Busiest days,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
8,2295261,1,9,1,16,0.0,0,196,4,1,...,Mid-range product,Busiest days,Regularly busy period,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
9,2550362,1,10,4,8,30.0,0,196,1,1,...,Mid-range product,Least busy days,Busiest period,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
10,2968173,15,15,1,9,7.0,0,196,2,0,...,Mid-range product,Busiest days,Busiest period,Most orders,22,Regular customer,3.980556,Low spender,11.029412,Regular customer
11,1870022,15,17,2,16,8.0,0,196,6,1,...,Mid-range product,Regularly busy,Regularly busy period,Average orders,22,Regular customer,3.980556,Low spender,11.029412,Regular customer
12,1911383,15,18,2,11,7.0,0,196,1,1,...,Mid-range product,Regularly busy,Busiest period,Most orders,22,Regular customer,3.980556,Low spender,11.029412,Regular customer
13,2715276,15,21,1,9,7.0,0,196,1,1,...,Mid-range product,Busiest days,Busiest period,Most orders,22,Regular customer,3.980556,Low spender,11.029412,Regular customer
14,487368,15,22,1,10,14.0,0,196,1,1,...,Mid-range product,Busiest days,Busiest period,Most orders,22,Regular customer,3.980556,Low spender,11.029412,Regular customer